body{
	background-image: url(101.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

img{
	margin: 1%;
	height: 40px;
    width: 60px;
    transition: all 1s;
}

img:hover {
	transform: scale(1.4);
	box-shadow: -1px 0 #DDA0DD, 0 1px #DDA0DD, 1px 0 #DDA0DD, 0 -1px #DDA0DD;
}

.mr-auto {
   	margin: auto;
  
}

.container {
	padding: 2%;
	text-align: center;
}

.jumbotron {
	margin-top: 15%;
	background-color: rgba(0, 0, 0, 0.11);
	color: white;
}

h1 {
	padding-bottom: 5%;
	text-shadow: -1px 0 #DDA0DD, 0 1px #DDA0DD, 1px 0 #DDA0DD, 0 -1px #DDA0DD;
	/*text-shadow: 0px 4px 3px rgba(76.1, 71, 71),
				 0px 8px 13px rgba(98.8, 95.7, 95.7),
				 0px 18px 23px rgba(98.8, 95.7, 95.7);*/
}

hr {
	background-color: white;
}

.btn-md {
	margin: 5%;
	box-shadow: -1px 0 #DDA0DD, 0 1px #DDA0DD, 1px 0 #DDA0DD, 0 -1px #DDA0DD;
	box-shadow: white;
	background-color: rgba(0, 0, 0, 0.11);
	color: white;
	transition: all 0.8s;
}

.btn-md:hover {
	transform: scale(1.2);
	background-color: rgba(165, 55, 253, 0.60);
	color: white;
}


#name {
	color: white !important;
}
#name:hover {
	color: blue !important;
}
.py-3 {
	color: white;
}

i {
	size: 10%;
	margin-right: 2%;
	margin-left: 2%;
	color: white;
	transition: all 1s;
 }

 i:hover {
 	color: rgba(165, 55, 253, 0.95);
 	transform: scale(1.5);
 }
footer {
	
}